

 body {
            background-image: url('Home.jpg');
            background-size: cover;
            /*background-position: center center*/
            /*background-position: center left;*/ 
            background-position:  200px center;
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .container {
          width: 70%;
    max-height: 540px;
    max-width: 388px;
    margin-left: 60px;
    margin-top: -123px 
        }

        .card {
            border-radius: 1rem;
            position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-left: -69px;
    word-wrap: break-word;
    margin-top: -32px;
    width: 461px;
    background-color: rgba(13,110,253,.25);
    background-clip: border-box;
    border: 5px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-right: -100px;
        }
        .bg-white {
    background-color: rgba(13,110,253,.25)!important;
}
.col-12 {
    flex: 0 0 auto;
    width: 35%;
   
}
.col-13{
flex: 0 0 auto;
    width: 15%;
    
}
 .popup-container {
            position: fixed;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            display: none;
        }
        .popup-active {
            overflow: hidden;
        }